.fit-picture {
    width: 1680px;
    height: 779px;
}

.truc {
    position: absolute;
    left: 8.21%;
    right: 5.3%;
    top: 39.15%;
    bottom: 39.02%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    line-height: 99%;
    text-align: "Left";
    /* or 116% */
    letter-spacing: -0.015em;
    /* 1 */
    opacity: 99%;
    color: #2871B7;
}

.truc2 {
    position: absolute;
left: 8.21%;
right: 51.85%;
top: 61.62%;
bottom: 27.73%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 37px;
/* or 148% */

letter-spacing: -0.015em;

/* noir */

color: #292929;
}

.button1 {
    position: absolute;
    bottom: 13%;
    left: 8%;
    /* 5 */
    background: #CD5A83;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: white;
}

.titlecss {
    
width: 633px;
height: 49px;
left: 138px;
top: 920px;

/* h2-desktop */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 50px;
/* or 111% */

letter-spacing: -0.015em;

/* noir */

color: #292929;
}

.pstyle1, .pstyle2{
display: flex;
background: #D8F2FF;
    border-radius: 2px;
    padding-left: 2%;
    width: 40%;
}
.test1 {
    background: #D8F2FF;
    border-radius: 2px;
    padding-left: 2%;
    width: 40%;
}

.test2 {
    background: #D8F2FF;
    border-radius: 2px;
    padding-left: 2%;
    width: 40%;
}